{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<body style="background:url('https://i.redd.it/ck8lswwqnwl11.png') no-repeat";>
    {% if latest_product_list %}
        <table>
            <tr>
                <th>UPC Code</th>
                <th>Description</th>   
                <th>Qnty in Stock<s/th>   
                <th>Unit Price</th> 
            </tr>
            {% for product in latest_product_list %}
            <tr>
                <td>{{ product.upccode }}</td>
                <td >{{ product.description }}</td>
                <td >{{ product.quantity_in_stock }}</td>
                <td >{{ product.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <h1>Product</h1>
        {% for product in latest_product_list %}
            <ul>
            <li>
                <form action="{% url 'polls:buy_product' product.id %}" method="post">
                    {% csrf_token %}
                        <label for="product{{ forloop.counter }}">{{ product.description }} {{ product.price }}฿ {{ product.quantity }}</label><br>
                        <input type="radio" name="product" id="product{{ forloop.counter }}" value="{{ product.id }}">
            </li>    
            </ul>
        {% endfor %}
        <input type="submit" value="buy">
    {% else %}
        <p>No product are created.</p>
    {% endif %}
    &nbsp;&nbsp;
    <a href="{% url 'polls:index' %}">Home</a>

</body>